<a href="https://colab.research.google.com/github/phorabix/Veri-Bilimine-Giri-/blob/main/marketsales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 1- Kütüphanelerin Yüklenmesi

In [ ]:
import numpy as np ## numpy kütüphanesinin import edilmesi
import pandas as pd ## pandas kütüphanesinin import edilmesi
import seaborn as sns ## seaborn kütüphanesinin import edilmesi
import matplotlib.pyplot as plt ## matplotlip kütüphanesinin import edilmesi
import datetime as dt ## datetime kütüphanesinin import edilmesi
pd.pandas.set_option('display.max_columns', None) ## dataframein tüm sutunlarının görülmesi için gereken kod

### 2- Verisetinin Yüklenmesi

In [19]:
from google.colab import drive
drive.mount('/content/drive')   # sen lokaldeysen gerek yok

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
### Veri Çok fazla olduğundan biraz zaman alabilir.
data = pd.read_excel("/content/drive/My Drive/MarketSales.xlsx")

In [39]:
data.head()

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
0,11738.0,5863.0,SPRITE 1 LT LIMON AROMALI GAZOZ,18456,2017-01-07,1.0,2.00,2.00,1.85,52.0,Kocaeli Subesi,Eyüp CİNE,Kocaeli,Marmara,40.8533,29.8815,467369,Sercan KIZILOK,156,SPRİTE,İÇECEK,GAZLI İÇECEK,GAZOZ,2017-01-08 16:16:11,2017-01-08 16:17:13,E
1,10537.0,8.0,TOZ SEKER,18105,2017-01-06,5.0,2.65,13.25,12.27,8.0,Antalya Subesi,İlhan ÖRENLİ,Antalya,Akdeniz,36.8841,30.7056,131464,İsmet ŞINGIR,NaN,NaN,İÇECEK,ÇAY KAHVE,SEKER TATLANDIRICI,2017-01-07 11:04:34,2017-01-07 11:05:37,E
2,11335.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.40,0.40,0.37,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,656969,Yağız KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E
3,11336.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.40,0.40,0.37,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,656969,Yağız KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E
4,10115.0,12808.0,FALIM SAKIZ 5LI CILEK,18005,2017-01-05,1.0,0.40,0.40,0.37,41.0,İzmir Subesi,Gülten IŞLAK,İzmir,Ege,38.4189,27.1287,447336,Habibe AYSAN,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-06 14:00:30,2017-01-06 14:01:03,K

In [22]:
data.head(2)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
0,11738.0,5863.0,SPRITE 1 LT LIMON AROMALI GAZOZ,18456,2017-01-07,1.0,2.00,2.00,1.85,52.0,Kocaeli Subesi,Eyüp CİNE,Kocaeli,Marmara,40.8533,29.8815,467369,Sercan KIZILOK,156,SPRİTE,İÇECEK,GAZLI İÇECEK,GAZOZ,2017-01-08 16:16:11,2017-01-08 16:17:13,E
1,10537.0,8.0,TOZ SEKER,18105,2017-01-06,5.0,2.65,13.25,12.27,8.0,Antalya Subesi,İlhan ÖRENLİ,Antalya,Akdeniz,36.8841,30.7056,131464,İsmet ŞINGIR,NaN,NaN,İÇECEK,ÇAY KAHVE,SEKER TATLANDIRICI,2017-01-07 11:04:34,2017-01-07 11:05:37,E

### 3- Verisetinin Orjinalınde değişiklik gelmemesei için veriyi başka bir değişkene atayın

In [24]:
data_kopya = data.copy()

print(data_kopya.head())

        ID  ITEMCODE                         ITEMNAME  FICHENO      DATE_  \
0  11738.0    5863.0  SPRITE 1 LT LIMON AROMALI GAZOZ    18456 2017-01-07
1  10537.0       8.0                        TOZ SEKER    18105 2017-01-06
2  11335.0    5979.0             FALIM SAKIZ 5LI NANE    18350 2017-01-03
3  11336.0    5979.0             FALIM SAKIZ 5LI NANE    18350 2017-01-03
4  10115.0   12808.0            FALIM SAKIZ 5LI CILEK    18005 2017-01-05

   AMOUNT  PRICE  LINENETTOTAL  LINENET  BRANCHNR           BRANCH  \
0     1.0   2.00          2.00     1.85      52.0   Kocaeli Subesi
1     5.0   2.65         13.25    12.27       8.0   Antalya Subesi
2     1.0   0.40          0.40     0.37      40.0  İstanbul Subesi
3     1.0   0.40          0.40     0.37      40.0  İstanbul Subesi
4     1.0   0.40          0.40     0.37      41.0     İzmir Subesi

       SALESMAN      CITY   REGION  LATITUDE  LONGITUDE CLIENTCODE  \
0     Eyüp CİNE   Kocaeli  Marmara   40.8533    29.8815     467369
1  İlhan ÖRENLİ   Antalya  Akdeniz   36.8841    30.7056     131464
2  İsmet SARTIK  İstanbul  Marmara   41.0053    28.9770     656969
3  İsmet SARTIK  İstanbul  Marmara   41.0053    28.9770     656969
4  Gülten IŞLAK     İzmir      Ege   38.4189    27.1287     447336

       CLIENTNAME BRANDCODE   BRAND CATEGORY_NAME1   CATEGORY_NAME2  \
0  Sercan KIZILOK       156  SPRİTE         İÇECEK     GAZLI İÇECEK
1    İsmet ŞINGIR       NaN     NaN         İÇECEK        ÇAY KAHVE
2     Yağız KUBAL       300   FALIM           GIDA  SAKIZ SEKERLEME
3     Yağız KUBAL       300   FALIM           GIDA  SAKIZ SEKERLEME
4    Habibe AYSAN       300   FALIM           GIDA  SAKIZ SEKERLEME

       CATEGORY_NAME3           STARTDATE             ENDDATE GENDER
0               GAZOZ 2017-01-08 16:16:11 2017-01-08 16:17:13      E
1  SEKER TATLANDIRICI 2017-01-07 11:04:34 2017-01-07 11:05:37      E
2               SAKIZ 2017-01-04 14:00:03 2017-01-04 14:01:01      E
3               SAKIZ 2017-01-04 14:00:03 2017-01-04 14:01:01      E
4               SAKIZ 2017-01-06 14:00:30 2017-01-06 14:01:03      K

### 4-Verisetinin Boyutlarına bulunuz

In [25]:
boyutlar = data.shape

print(f"Verisetinin Boyutları: {boyutlar}")
print(f"Satır Sayısı: {boyutlar[0]}")
print(f"Sütun Sayısı: {boyutlar[1]}")

Verisetinin Boyutları: (611108, 26)
Satır Sayısı: 611108
Sütun Sayısı: 26

### 5-Verisetinin Sutunlarının İsimlerini Yazdırın

In [27]:
sutun_isimleri = data.columns

print("Verisetinin Sütunların İsimleri:")
print(sutun_isimleri)

Verisetinin Sütunların İsimleri:
Index(['ID', 'ITEMCODE', 'ITEMNAME', 'FICHENO', 'DATE_', 'AMOUNT', 'PRICE',
       'LINENETTOTAL', 'LINENET', 'BRANCHNR', 'BRANCH', 'SALESMAN', 'CITY',
       'REGION', 'LATITUDE', 'LONGITUDE', 'CLIENTCODE', 'CLIENTNAME',
       'BRANDCODE', 'BRAND', 'CATEGORY_NAME1', 'CATEGORY_NAME2',
       'CATEGORY_NAME3', 'STARTDATE', 'ENDDATE', 'GENDER'],
      dtype='object')

### 6- Veri setinin bilgilerine ulaşılması

In [28]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611108 entries, 0 to 611107
Data columns (total 26 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              611107 non-null  float64
 1   ITEMCODE        603941 non-null  float64
 2   ITEMNAME        603941 non-null  object
 3   FICHENO         611108 non-null  int64
 4   DATE_           611107 non-null  datetime64[ns]
 5   AMOUNT          611107 non-null  float64
 6   PRICE           611107 non-null  float64
 7   LINENETTOTAL    611107 non-null  float64
 8   LINENET         611107 non-null  float64
 9   BRANCHNR        611107 non-null  float64
 10  BRANCH          611107 non-null  object
 11  SALESMAN        611108 non-null  object
 12  CITY            611107 non-null  object
 13  REGION          611107 non-null  object
 14  LATITUDE        611107 non-null  float64
 15  LONGITUDE       611107 non-null  float64
 16  CLIENTCODE      592760 non-null  object
 17  CLIENTNAME      592743 non-null  object
 18  BRANDCODE       575551 non-null  object
 19  BRAND           575551 non-null  object
 20  CATEGORY_NAME1  603941 non-null  object
 21  CATEGORY_NAME2  583448 non-null  object
 22  CATEGORY_NAME3  401649 non-null  object
 23  STARTDATE       611108 non-null  datetime64[ns]
 24  ENDDATE         611108 non-null  datetime64[ns]
 25  GENDER          592743 non-null  object
dtypes: datetime64[ns](3), float64(9), int64(1), object(13)
memory usage: 121.2+ MB
None

### 7- Veri Setinde Boş Değer Varmı sorgulanması

In [29]:
print(data.isnull().sum())

ID                     1
ITEMCODE            7167
ITEMNAME            7167
FICHENO                0
DATE_                  1
AMOUNT                 1
PRICE                  1
LINENETTOTAL           1
LINENET                1
BRANCHNR               1
BRANCH                 1
SALESMAN               0
CITY                   1
REGION                 1
LATITUDE               1
LONGITUDE              1
CLIENTCODE         18348
CLIENTNAME         18365
BRANDCODE          35557
BRAND              35557
CATEGORY_NAME1      7167
CATEGORY_NAME2     27660
CATEGORY_NAME3    209459
STARTDATE              0
ENDDATE                0
GENDER             18365
dtype: int64

### 8- Verisetindeki Sutunlarda Toplam Kaç Adet Değer Var Bulunuz

In [30]:
print(data.count())

ID                611107
ITEMCODE          603941
ITEMNAME          603941
FICHENO           611108
DATE_             611107
AMOUNT            611107
PRICE             611107
LINENETTOTAL      611107
LINENET           611107
BRANCHNR          611107
BRANCH            611107
SALESMAN          611108
CITY              611107
REGION            611107
LATITUDE          611107
LONGITUDE         611107
CLIENTCODE        592760
CLIENTNAME        592743
BRANDCODE         575551
BRAND             575551
CATEGORY_NAME1    603941
CATEGORY_NAME2    583448
CATEGORY_NAME3    401649
STARTDATE         611108
ENDDATE           611108
GENDER            592743
dtype: int64

### 9- Verisetinde Toplam Kaç Adet Değer Var Bulunuz

In [31]:
print(data.count().sum())

15503984

### 10- Verisetinde Boş Değer Olan Sutunların İsimlerini yazdıralım

In [33]:
bos_deger_sayilari = data.isnull().sum()

bos_degerli_sutunlar = bos_deger_sayilari[bos_deger_sayilari > 0]

print("Boş değer içeren sütunların isimleri:")
print(list(bos_degerli_sutunlar.index))

Boş değer içeren sütunların isimleri:
['ID', 'ITEMCODE', 'ITEMNAME', 'DATE_', 'AMOUNT', 'PRICE', 'LINENETTOTAL', 'LINENET', 'BRANCHNR', 'BRANCH', 'CITY', 'REGION', 'LATITUDE', 'LONGITUDE', 'CLIENTCODE', 'CLIENTNAME', 'BRANDCODE', 'BRAND', 'CATEGORY_NAME1', 'CATEGORY_NAME2', 'CATEGORY_NAME3', 'GENDER']

### 11-Verisetinin Sutunlarında Kaç farklı Tip var Onu Bulalım

In [35]:
veri_tipleri = data.dtypes

farkli_tip_sayisi = veri_tipleri.nunique()

print(veri_tipleri.value_counts())

object            13
float64            9
datetime64[ns]     3
int64              1
Name: count, dtype: int64

### 12- Verisetinin Sutunlarındaki Eşsiz Tipler Nelerdir Onlara Bakalım

In [36]:
veri_tipleri = data.dtypes

essiz_tipler = veri_tipleri.unique()

print("Veri setindeki Sütunlarda Bulunan Eşsiz Tipler:")
print(essiz_tipler)

Veri setindeki Sütunlarda Bulunan Eşsiz Tipler:
[dtype('float64') dtype('O') dtype('int64') dtype('<M8[ns]')]

### 13-Verisetinin İlk 5 Satırını Yazdıralım

In [37]:
print(data.head())

        ID  ITEMCODE                         ITEMNAME  FICHENO      DATE_  \
0  11738.0    5863.0  SPRITE 1 LT LIMON AROMALI GAZOZ    18456 2017-01-07
1  10537.0       8.0                        TOZ SEKER    18105 2017-01-06
2  11335.0    5979.0             FALIM SAKIZ 5LI NANE    18350 2017-01-03
3  11336.0    5979.0             FALIM SAKIZ 5LI NANE    18350 2017-01-03
4  10115.0   12808.0            FALIM SAKIZ 5LI CILEK    18005 2017-01-05

   AMOUNT  PRICE  LINENETTOTAL  LINENET  BRANCHNR           BRANCH  \
0     1.0   2.00          2.00     1.85      52.0   Kocaeli Subesi
1     5.0   2.65         13.25    12.27       8.0   Antalya Subesi
2     1.0   0.40          0.40     0.37      40.0  İstanbul Subesi
3     1.0   0.40          0.40     0.37      40.0  İstanbul Subesi
4     1.0   0.40          0.40     0.37      41.0     İzmir Subesi

       SALESMAN      CITY   REGION  LATITUDE  LONGITUDE CLIENTCODE  \
0     Eyüp CİNE   Kocaeli  Marmara   40.8533    29.8815     467369
1  İlhan ÖRENLİ   Antalya  Akdeniz   36.8841    30.7056     131464
2  İsmet SARTIK  İstanbul  Marmara   41.0053    28.9770     656969
3  İsmet SARTIK  İstanbul  Marmara   41.0053    28.9770     656969
4  Gülten IŞLAK     İzmir      Ege   38.4189    27.1287     447336

       CLIENTNAME BRANDCODE   BRAND CATEGORY_NAME1   CATEGORY_NAME2  \
0  Sercan KIZILOK       156  SPRİTE         İÇECEK     GAZLI İÇECEK
1    İsmet ŞINGIR       NaN     NaN         İÇECEK        ÇAY KAHVE
2     Yağız KUBAL       300   FALIM           GIDA  SAKIZ SEKERLEME
3     Yağız KUBAL       300   FALIM           GIDA  SAKIZ SEKERLEME
4    Habibe AYSAN       300   FALIM           GIDA  SAKIZ SEKERLEME

       CATEGORY_NAME3           STARTDATE             ENDDATE GENDER
0               GAZOZ 2017-01-08 16:16:11 2017-01-08 16:17:13      E
1  SEKER TATLANDIRICI 2017-01-07 11:04:34 2017-01-07 11:05:37      E
2               SAKIZ 2017-01-04 14:00:03 2017-01-04 14:01:01      E
3               SAKIZ 2017-01-04 14:00:03 2017-01-04 14:01:01      E
4               SAKIZ 2017-01-06 14:00:30 2017-01-06 14:01:03      K

### 14-Verisetinin son 7 Satırını Yazdıralım

In [40]:
print(data.tail(7))

              ID  ITEMCODE                  ITEMNAME  FICHENO      DATE_  \
611101  511342.0    6480.0  UNO KEPEKLI EKMEK 470GR.   134601 2017-03-18
611102  512198.0       7.0              EKMEK 250 GR   134742 2017-03-18
611103  511703.0       7.0              EKMEK 250 GR   134656 2017-03-18
611104  511496.0       7.0              EKMEK 250 GR   134630 2017-03-18
611105  492612.0       7.0              EKMEK 250 GR   130100 2017-03-15
611106  512343.0       7.0              EKMEK 250 GR   134762 2017-03-18
611107  512179.0    3942.0    ETI 80 GR KARAM BITTER   134738 2017-03-18

        AMOUNT  PRICE  LINENETTOTAL  LINENET  BRANCHNR           BRANCH  \
611101     1.0   3.25          3.25     3.22      73.0  Tekirdağ Subesi
611102     1.0   0.90          0.90     0.89      40.0  İstanbul Subesi
611103     1.0   0.90          0.90     0.89      66.0   Sakarya Subesi
611104     1.0   0.90          0.90     0.89       7.0    Ankara Subesi
611105     1.0   0.90          0.90     0.89      59.0     Muğla Subesi
611106     1.0   0.90          0.90     0.88      40.0  İstanbul Subesi
611107     1.0   1.90          1.90     1.76      74.0     Tokat Subesi

              SALESMAN      CITY      REGION  LATITUDE  LONGITUDE CLIENTCODE  \
611101  Aleyna ÇUKUREL  Tekirdağ     Marmara   40.9833    27.5167      16670
611102    İsmet SARTIK  İstanbul     Marmara   41.0053    28.9770     523722
611103  Beren BULGURCU   Sakarya     Marmara   40.6940    30.4358     374191
611104       Eda SINAV    Ankara  İç Anadolu   39.9208    32.8541     656248
611105  Nisa nur SAĞIM     Muğla         Ege   37.2153    28.3636      78643
611106     Arife DORAP  İstanbul     Marmara   41.0053    28.9770     926041
611107  Lütfiye DÖŞEME     Tokat   Karadeniz   40.3167    36.5500     241748

              CLIENTNAME BRANDCODE BRAND CATEGORY_NAME1 CATEGORY_NAME2  \
611101       Berat ÖGMEN       145   UNO           GIDA  UNLU MAMÜLLER
611102       Özcan PAPİR       NaN   NaN           GIDA  UNLU MAMÜLLER
611103   Mahmut BAYATGİL       NaN   NaN           GIDA  UNLU MAMÜLLER
611104       Gamze BOTUÇ       NaN   NaN           GIDA  UNLU MAMÜLLER
611105  Cengiz BEREKETÇİ       NaN   NaN           GIDA  UNLU MAMÜLLER
611106  Elifnur EGİNKAYA       NaN   NaN           GIDA  UNLU MAMÜLLER
611107    Hacer CANDEMİR        44   ETİ           GIDA  BÜSKİVİ ÇEREZ

       CATEGORY_NAME3           STARTDATE             ENDDATE GENDER
611101          EKMEK 2017-03-19 18:54:51 2017-03-19 18:54:58      E
611102          EKMEK 2017-03-19 16:09:39 2017-03-19 16:11:10      E
611103          EKMEK 2017-03-19 09:39:54 2017-03-19 09:40:50      E
611104          EKMEK 2017-03-19 20:30:58 2017-03-19 20:31:17      K
611105          EKMEK 2017-03-16 17:51:04 2017-03-16 17:51:18      E
611106          EKMEK 2017-03-19 17:00:12 2017-03-19 17:01:20      K
611107        BÜSKİVİ 2017-03-19 16:00:15 2017-03-19 16:00:37      K

### 15- Verisetinde her satır için AMOUNT PRICE LINENETTOTAL sutunlarına ait bilgileri yazdıralım

In [41]:
secilen_sutunlar = data[['AMOUNT', 'PRICE', 'LINENETTOTAL']]
print(secilen_sutunlar)

        AMOUNT  PRICE  LINENETTOTAL
0          1.0   2.00          2.00
1          5.0   2.65         13.25
2          1.0   0.40          0.40
3          1.0   0.40          0.40
4          1.0   0.40          0.40
...        ...    ...           ...
611103     1.0   0.90          0.90
611104     1.0   0.90          0.90
611105     1.0   0.90          0.90
611106     1.0   0.90          0.90
611107     1.0   1.90          1.90

[611108 rows x 3 columns]

### 16- Verisetinde LINENETTOTAL sutunda 15 den büyük olan satırları yazdıralım

In [42]:
filtrelenmis_data = data[data['LINENETTOTAL'] > 15]
print(filtrelenmis_data)

              ID  ITEMCODE                                   ITEMNAME  \
62        9745.0   10429.0                YUDUM AYCICEK YAGI 5 LT TNK
64        3322.0   19108.0             F NEFFIS AYCICEK YAGI 5 LT PET
95        5317.0    6217.0                   LD LODOS DENİZCİSİ SLİMS
239       7783.0    5571.0   WELLA KOLESTON KOPUK BOYA 5/0 ACIK KAHVE
250       7611.0    3187.0        F NEFFIS TAZE KASAR PEYNIRI 1000 GR
...          ...       ...                                        ...
610879  597076.0   10663.0  FAIRY H 1 ARADA BUL.MAKINESI 70'LI. LIMON
611060  596973.0   21588.0                                 DANA GULAS
611061  596365.0   21591.0                              DANA ANTRIKOT
611065  597287.0     968.0                   ICIM DOGAL YOGURT 2250GR
611068  596374.0   21584.0                          DANA KIYMALIK KG.

        FICHENO      DATE_  AMOUNT  PRICE  LINENETTOTAL  LINENET  BRANCHNR  \
62        17902 2017-01-06   1.000  20.49         20.49    18.97      12.0
64        16540 2017-01-05   1.000  17.90         17.90    16.57      39.0
95        16903 2017-01-05  10.000   5.00         50.00    50.00      70.0
239       17473 2017-01-06   1.000  15.75         15.75    13.35      56.0
250       17450 2017-01-06   1.000  15.75         15.75    14.58      67.0
...         ...        ...     ...    ...           ...      ...       ...
610879   154695 2017-03-30   1.000  27.50         27.50    23.31      52.0
611060   154689 2017-03-30   0.996  23.90         23.80    22.04      11.0
611061   154529 2017-03-30   0.660  27.90         18.41    17.05       7.0
611065   154731 2017-03-30   6.000   7.25         43.50    40.28      41.0
611068   154531 2017-03-30   1.042  19.90         20.74    19.21      42.0

                      BRANCH          SALESMAN           CITY      REGION  \
62          Balıkesir Subesi     Sami KASIMOVA      Balıkesir         Ege
64            Isparta Subesi   Elif nur GÜNLER        Isparta     Akdeniz
95              Sivas Subesi   Hümeyra GEÇİCİ)          Sivas  İç Anadolu
239            Manisa Subesi        Veli ÇAHAN         Manisa         Ege
250            Samsun Subesi      Necdet VARAL         Samsun   Karadeniz
...                      ...               ...            ...         ...
610879        Kocaeli Subesi  Halil KIRMIZIGÜN        Kocaeli     Marmara
611060          Aydın Subesi      Selçuk TEZEL          Aydın         Ege
611061         Ankara Subesi     Meliha AKTEKE         Ankara  İç Anadolu
611065          İzmir Subesi      Gülten IŞLAK          İzmir         Ege
611068  Kahramanmaraş Subesi    Duygu TEKİNSİZ  Kahramanmaraş     Akdeniz

        LATITUDE  LONGITUDE CLIENTCODE        CLIENTNAME BRANDCODE  \
62       39.6484    27.8826     521495      Bilal PORSUK       152
64       37.7648    30.5566     791614      Tayfun BATAK        49
95       39.7477    37.0179    1021217     Kezban GÖŞELİ       163
239      38.6191    27.4289     285961  Görkem ZIESCHANG       307
250      41.2928    36.3313     241750     Hazal ÖZBAKIŞ        49
...          ...        ...        ...               ...       ...
610879   40.8533    29.8815     712152      Hikmet YEREN       298
611060   37.8560    27.8416      27039   Mevlüt AYDINLIK       235
611061   39.9208    32.8541     350244   Reyhan ÇELİKSOY       235
611065   38.4189    27.1287     946400     Dursun GEYLAN        67
611068   37.5858    36.9371    1098716   Deniz GÖKMENLER       235

             BRAND     CATEGORY_NAME1  CATEGORY_NAME2 CATEGORY_NAME3  \
62           YUDUM               GIDA     SIVI YAĞLAR        AYÇİÇEK
64        F NEFFİS               GIDA     SIVI YAĞLAR        AYÇİÇEK
95             JTİ             SİGARA             NaN            NaN
239          WELLA           KOZMETİK       SAÇ BAKIM   SAÇ BOYALARI
250       F NEFFİS    SÜT KAHVALTILIK          PEYNİR  KAŞAR PEYNİRİ
...            ...                ...             ...            ...
610879       FAİRY  DETERJAN TEMİZLİK  BULAŞIK YIKAMA         MAKİNE
611060       KASAP           ET TAVUK      KIRMIZI ET           DANA
611061       KASAP           ET TAVUK      KIRMIZI ET           DANA
611065  İÇİM SEHER    SÜT KAHVALTILIK          YOĞURT      YOĞURTLAR
611068       KASAP           ET TAVUK      KIRMIZI ET           DANA

                 STARTDATE             ENDDATE GENDER
62     2017-01-07 14:28:00 2017-01-07 14:29:39      E
64     2017-01-06 20:08:26 2017-01-06 20:08:39      E
95     2017-01-06 13:44:22 2017-01-06 13:44:45      K
239    2017-01-07 14:52:34 2017-01-07 14:53:16      E
250    2017-01-07 20:00:19 2017-01-07 20:04:26      K
...                    ...                 ...    ...
610879 2017-03-31 12:24:13 2017-03-31 12:24:54      E
611060 2017-03-31 10:18:03 2017-03-31 10:18:39      E
611061 2017-03-31 18:27:07 2017-03-31 18:27:56      K
611065 2017-03-31 15:18:26 2017-03-31 15:28:25      E
611068 2017-03-31 18:36:26 2017-03-31 18:36:54      E

[17698 rows x 26 columns]

### 17- Verisetinde BRANCH ı Balıkesir Subesi olan satırları bulalım

In [43]:
balikkesir_subesi = data[data['BRANCH'] == 'Balıkesir Subesi']
print(balikkesir_subesi)

              ID  ITEMCODE                                ITEMNAME  FICHENO  \
15        9625.0    5780.0                          SALKIM DOMATES    17865
16        9748.0    5715.0                                 PATATES    17902
62        9745.0   10429.0             YUDUM AYCICEK YAGI 5 LT TNK    17902
124       9907.0    5710.0                           KIRMIZI BIBER    17945
165       3534.0   23477.0  NOGAY ÖZEL ÜRÜN YAGLI SELE ZEYTINI LUX    16607
...          ...       ...                                     ...      ...
610941  604581.0     132.0              GOZDE KOKTELY SOSIS 500 GR   156739
610942  604582.0     132.0              GOZDE KOKTELY SOSIS 500 GR   156739
611049  604585.0    5694.0                                 DOMATES   156739
611085  511252.0     195.0            ULKER PIKNIK KAKAOLU 3*70 GR   134582
611093  511278.0   18219.0                SULTAN KEP.BUGDAY EKMEGI   134590

            DATE_  AMOUNT  PRICE  LINENETTOTAL  LINENET  BRANCHNR  \
15     2017-01-06   0.945   5.20          4.91     4.55      12.0
16     2017-01-06   2.790   2.45          6.84     6.33      12.0
62     2017-01-06   1.000  20.49         20.49    18.97      12.0
124    2017-01-06   0.750   4.95          3.71     3.44      12.0
165    2017-01-05   0.540   9.95          5.37     4.98      12.0
...           ...     ...    ...           ...      ...       ...
610941 2017-03-31   1.000   5.50          5.50     5.09      12.0
610942 2017-03-31   1.000   5.50          5.50     5.09      12.0
611049 2017-03-31   1.040   2.65          2.76     2.56      12.0
611085 2017-03-18   1.000   1.50          1.50     1.39      12.0
611093 2017-03-18   1.000   1.00          1.00     0.99      12.0

                  BRANCH       SALESMAN       CITY REGION  LATITUDE  \
15      Balıkesir Subesi  Sami KASIMOVA  Balıkesir    Ege   39.6484
16      Balıkesir Subesi  Sami KASIMOVA  Balıkesir    Ege   39.6484
62      Balıkesir Subesi  Sami KASIMOVA  Balıkesir    Ege   39.6484
124     Balıkesir Subesi  Neriman BEYAZ  Balıkesir    Ege   39.6484
165     Balıkesir Subesi  Sami KASIMOVA  Balıkesir    Ege   39.6484
...                  ...            ...        ...    ...       ...
610941  Balıkesir Subesi  Neriman BEYAZ  Balıkesir    Ege   39.6484
610942  Balıkesir Subesi  Neriman BEYAZ  Balıkesir    Ege   39.6484
611049  Balıkesir Subesi  Neriman BEYAZ  Balıkesir    Ege   39.6484
611085  Balıkesir Subesi   Sıraç MEHMET  Balıkesir    Ege   39.6484
611093  Balıkesir Subesi  Sami KASIMOVA  Balıkesir    Ege   39.6484

        LONGITUDE CLIENTCODE       CLIENTNAME BRANDCODE   BRAND  \
15        27.8826      74884    Miray KOÇOĞLU       A25     HAL
16        27.8826     521495     Bilal PORSUK       A25     HAL
62        27.8826     521495     Bilal PORSUK       152   YUDUM
124       27.8826        NaN              NaN       A25     HAL
165       27.8826     654286       Pınar ECİR        99   NOGAY
...           ...        ...              ...       ...     ...
610941    27.8826       1589     Sevda MEVSİM       NaN     NaN
610942    27.8826       1589     Sevda MEVSİM       NaN     NaN
611049    27.8826       1589     Sevda MEVSİM       A25     HAL
611085    27.8826     872827   Zekiye ERDAMAR       146   ÜLKER
611093    27.8826     628800  Hacer YOLCUOĞLU       134  SULTAN

         CATEGORY_NAME1 CATEGORY_NAME2 CATEGORY_NAME3           STARTDATE  \
15          MEYVE SEBZE          SEBZE            NaN 2017-01-07 11:12:54
16          MEYVE SEBZE          SEBZE            NaN 2017-01-07 14:28:00
62                 GIDA    SIVI YAĞLAR        AYÇİÇEK 2017-01-07 14:28:00
124         MEYVE SEBZE          SEBZE            NaN 2017-01-07 17:24:07
165     SÜT KAHVALTILIK         ZEYTİN            NaN 2017-01-06 09:40:58
...                 ...            ...            ...                 ...
610941         ET TAVUK   ET ŞARKÜTERİ          SOSİS 2017-04-01 16:24:46
610942         ET TAVUK   ET ŞARKÜTERİ          SOSİS 2017-04-01 16:24:46
611049      MEYVE SEBZE          SEBZE            NaN 2017-04-01 16:24:46
611085             GIDA  BÜSKİVİ ÇEREZ        BÜSKİVİ 2017-03-19 17:51:42
611093             GIDA  UNLU MAMÜLLER          EKMEK 2017-03-19 18:09:02

                   ENDDATE GENDER
15     2017-01-07 11:13:35      K
16     2017-01-07 14:29:39      E
62     2017-01-07 14:29:39      E
124    2017-01-07 17:24:25    NaN
165    2017-01-06 09:42:01      K
...                    ...    ...
610941 2017-04-01 16:25:31      K
610942 2017-04-01 16:25:31      K
611049 2017-04-01 16:25:31      K
611085 2017-03-19 17:52:13      K
611093 2017-03-19 18:09:23      K

[9428 rows x 26 columns]